.header
  = render partial: 'layouts/header'
%nav.bread_crumbs
  %ol
    %li 
      - breadcrumb :card
      = breadcrumbs separator: " &rsaquo; "
.title
  .title__chapter
    クレジットカード情報入力

.main-form
  .main-form__frame
    = form_with url: users_path do |f|
      .form-group
        = f.label :カード番号
        %span.form-group__require 必須
        %br
        = f.text_field :card_number, class:'form-card__input', placeholder:'半角数字のみ'
      .form-group
        .card-company
          %ul.card-list
            %li.icon-visa
              = image_tag asset_path("visa.png"), size: "30x20"
            %li.icon-master
              = image_tag asset_path("master.png"), size: "34x20"
            %li.icon-saison
              = image_tag asset_path("saison.png"), size: "30x20"
            %li.icon-jcb
              = image_tag asset_path("jcb.png"), size: "32x20"
            %li.icon-amex
              = image_tag asset_path("amex.png"), size: "21x20"
            %li.icon-dinners
              = image_tag asset_path("diners.png"), size: "32x20"
            %li.icon-discover
              = image_tag asset_path("discover.png"), size: "32x20"
      .form-group
        = f.label :有効期限
        %span.form-group__require 必須
        %br
        = f.select :card_month, options_for_select(["01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11","12"]),{}, class: 'form-card__input__valid'
        = f.label :月, class: "form-group__card__deadline"
        = f.select :card_year, options_for_select(["20", "21", "22", "23", "24", "25", "26", "27", "28", "29", "30"]),{}, class: 'form-card__input__valid'
        = f.label :年, class: "form-group__card__deadline"
      .form-group
        = f.label :セキュリティコード
        %span.form-group__require 必須
        = f.text_field :card_pass, class:'form-card__input', placeholder: "カード背面４桁もしくは3桁の番号"
      .form-group__addition
        .form-group__addition__question ?
        %p.form-group__text
          カードの裏面の番号とは？
      .form-group
        = f.submit "追加する", class: "btn", url:"#"
.footer