.header
  = render partial: 'layouts/header'
.title
  .title__chapter
    クレジットカード情報入力
.main-form
  .main-form__frame
    = form_with url: cards_path, method: :post, html: {id: "charge-form", name: "inputForm"} do |f|
      %span.charge-errors
      .form-group
        = f.label :カード番号
        = f.text_field :number, maxlength: "16", name: "number", placeholder: "カード番号", type: "text",id: "card_number_form", value: 4242424242424242
      .form-group
        .card-company
          %ul.card-list
            %li.icon-visa
              = image_tag asset_path("visa.png"), size: "30x20"
            %li.icon-master
              = image_tag asset_path("master.png"), size: "34x20"
            %li.icon-saison
              = image_tag asset_path("saison.png"), size: "30x20"
            %li.icon-jcb
              = image_tag asset_path("jcb.png"), size: "32x20"
            %li.icon-amex
              = image_tag asset_path("amex.png"), size: "21x20"
            %li.icon-dinners
              = image_tag asset_path("diners.png"), size: "32x20"
            %li.icon-discover
              = image_tag asset_path("discover.png"), size: "32x20"
      .form-group
        = f.label :有効期限
        = f.text_field :exp_month, maxlength: "2", name: "exp_month", placeholder: "月", type: "text",id: "exp_month_form", value: 12
        = f.text_field :exp_year, maxlength: "4", name: "exp_year", placeholder: "年", type: "text",id: "exp_year_form", value: 2022
      .form-group
        = f.label :CVC
        = f.text_field :CVC, maxlength: "3", name: "cvc", placeholder: "CVC", type: "text",id: "cvc_form", value: 123
      .form-group__addition
        .form-group__addition__question ?
        %p.form-group__text
          カードの裏面の番号とは？
      .form-group
        = f.submit "登録", id: "regist_card" 
-# .footer
