.buy-header
  =render partial: 'layouts/header' 
.main
  .main__buy-container
    %h1.buy-head 購入内容の確認
    .main__buy-container__product-content
      .main__buy-container__product-content__inner
        .main__buy-container__product-content__inner__product-box
          .main__buy-container__product-content__inner__product-box__product-img
            商品写真
          .main__buy-container__product-content__inner__product-box__product-detail
            %p.name 商品名表示させる
            %p.price ¥金額表示させる
    .main__buy-container__pay-content
      .main__buy-container__pay-content__inner
        = form_with url: purchase_products_path do
          %ul.buy-price
            %li.price-title 支払い金額
            %li.price-money ¥金額表示させる
          .main__buy-container__pay-content__inner__pay-method
            %p 支払い方法
            %p ※登録したカード情報表示させる
          .main__buy-container__pay-content__inner__address
            %p 配送先
            %p ※登録した送付先住所表示させる
          .main__buy-container__pay-content__inner__buyBtn
            :plain
              <script type="text/javascript" src="https://checkout.pay.jp" class="payjp-button" data-key="pk_test_07db780e7718d3fb4bd5d472"></script>

.Footer
  .contents
    %ul.contents
      %li.content
        %h2.content__head FURIMAについて
        %ul
          %li.content= link_to '会社概要','/'
          %li.content= link_to 'プライバシーポリシー','/'
          %li.content= link_to 'FURIMA利用規約','/'
          %li.content= link_to 'ポイントに関する特約','/'
      %li.content
        %h2.content__head FURIMAを見る
        %ul
          %li.content= link_to 'カテゴリー一覧','/'
          %li.content= link_to 'ブランド一覧','/'   
      %li.contect
        %h2.content__head ヘルプ＆ガイド
        %ul
          %li.content= link_to 'FURIMAガイド','/'
          %li.content= link_to 'FURIMAロゴ利用ガイドライン','/'
          %li.content= link_to 'お知らせ','/'
  .Footer_logo
    = image_tag asset_path("logo-white.png"), size: "150x50"
  %p.Clogo ©︎FURIMA

