.main-header

.main-contents
  .main-contents__show-main
    .main-contents__show-main__product
      .main-contents__show-main__product__name
        商品名
      .main-contents__show-main__product__image
        %ul
          %li= img{ alt: "product", width: "560", height: "350", src: "assets/material/pict/tese.png"}
          %ul
            %li= img{ alt: "product", width:"140", height: "90", src: "assets/material/pic/test2.png"}
            %li= img{ alt: "product", width:"140", height: "90", src: "assets/material/pic/test3.png"}
            %li= img{ alt: "product", width:"140", height: "90", src: "assets/material/pic/test4.png"}

      .main-contents__show-main__product__price
        ¥2,000
        .main-contents__show-main__product__price__detail
          (税込)送料込み

      .main-contents__show-main__product__detail
        ここに商品の説明文が入ります。

      .main-contents__show-main__product__table
        %table
          %tr
            %th 出品者
            %td name
          %tr
            %th カテゴリー
            %td カテゴリー名
          %tr
            %th ブランド
            %td 
          %tr
            %th サイズ
            %td 
          %tr
            %th 商品の状態
            %td 新品/未使用
          %tr
            %th 配送料の負担
            %td 着払い(購入者負担)
          %tr
            %th 発送元の地域
            %td 青森県
              %a{ href: "#"}
          %tr
            %th 発送日の目安
            %td 1-2日で発送
      .main-contents__show-main__product__optionArea
        .main-contents__show-main__product__optionArea__likeBtn
          = %button{ type: "button", class: "likeBtn"} do
            = %i.fas.fa-star
            お気に入り
        .main-contents__show-main__product__optionArea__optional
          =link_to '#', class: "optional" do
            =%i.fas.fa-flag
            不適切な商品の通報
      .main-contents__show-main__product__comment
        =form_for '#' do |f|
          .main-contents__show-main__product__comment__new
            = f.text_area :comment, class: "new"
          .main-contents__show-main__product